<h1><a href="/registration/new">Register</a></h1>


<form method="post" action="/">

      <label for="username">Username</label>
      <input type="text" name="username" id="username"/>

      <label for="password">Password</label>
      <input type="password" name="password" id="password"/>

      <input type="submit" value="Login"/>

</form>


<h1><%= @database_connection %></h1>